html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

li,
ol {
	padding: 0;
	list-style: none;
}

button {
	color: inherit;
	background-color: transparent;
	padding: 0;
	box-shadow: none;
	border: none;
	font-weight: inherit;
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin: 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	color: inherit;
	text-decoration: none;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #000;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

:root {
	--dark: #1e293a;
	--green: #ef98ff;
}

#page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #ef98ff, #6e93ff);
}

.card {
	display: flex;
	width: 38rem;
	height: 25rem;
	border-radius: 0.6rem;
	overflow: hidden;
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.half {
	width: 50%;
}

.img-container img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transform: scale(1.6);
}

.half-right {
	background-color: var(--dark);
	padding: 1.5rem 1rem 4rem 1rem;
	position: relative;
}
.half-right .online {
	position: absolute;
	right: 2rem;
	color: #487098;
	font-size: 0.65rem;
}
.half-right .online:after {
	content: '';
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	background-color: var(--green);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 120%;
	transform: translate(-50%, -50%);
	margin-left: 0.2rem;
}
.half-right .name {
	font-size: 1.7rem;
	background: linear-gradient(to right, #ef98ff, #6e93ff);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.half-right h3 {
	color: var(--green);
	margin-top: 1rem;
}
.half-right button {
	background: linear-gradient(to right, var(--green), #00d8d4);
	font-size: 0.7rem;
	padding: 0.4rem 1.8rem;
	border-radius: 1.8rem;
	position: absolute;
	bottom: 3rem;
	right: 2rem;
	cursor: pointer;
}
.half-right p {
	color: #487098;
	font-size: 0.65rem;
	margin-top: 0.4rem;
}

.triangle {
	position: absolute;
	bottom: -0.1rem;
	width: 100%;
	height: 7rem;
	background: linear-gradient(to right, #ef98ff, #6e93ff);
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.triangle ul {
	width: 35%;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	display: flex;
	justify-content: space-between;
}
.triangle a {
	width: 1.2rem;
	height: 1.2rem;
	font-size: 0.8rem;
	background-color: #fff;
	color: #f83487;
	border-radius: 50%;
	text-align: center;
	line-height: 1.2rem;
}
.triangle span {
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.55rem;
	color: white;
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
.gegga {
	width: 0;
}
.snurra {
	filter: url(#gegga);
}
.stopp1 {
	stop-color: #6e93ff;
}
.stopp2 {
	stop-color: #ef98ff;
}
.halvan {
	animation: Snurra1 10s infinite linear;
	stroke-dasharray: 180 800;
	fill: none;
	stroke: url(#gradient);
	stroke-width: 23;
	stroke-linecap: round;
}
.strecken {
	animation: Snurra1 3s infinite linear;
	stroke-dasharray: 26 54;
	fill: none;
	stroke: url(#gradient);
	stroke-width: 23;
	stroke-linecap: round;
}
.skugga {
	filter: blur(5px);
	opacity: 0.3;
	position: absolute;
	transform: translate(3px, 3px);
}
@keyframes Snurra1 {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: -403px;
	}
}
